:root {
  --body-bg: hsl(218, 23%, 16%);
  --card-bg: hsl(217, 19%, 24%);
  --accent: hsl(150, 100%, 66%);
  --light-cyan: hsl(193, 38%, 86%);
  --box-shadow: 0px 0px 15px 5px hsl(218, 23%, 16%);
  --transition: all 300ms ease-in-out;
}

.container {
  background: var(--body-bg);
  margin: 0 auto;
  display: grid;
  place-items: center;
  height: 100vh;
}

.card {
  background: var(--card-bg);
  max-width: 600px;
  width: 90%;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 20px;
  text-align: center;
}

.number {
  text-transform: uppercase;
  color: var(--accent);
  letter-spacing: 2px;
}

.advice {
  color: var(--light-cyan);
  padding-block: 20px;
}
