:root {
    --body-bg: hsl(218, 23%, 16%);
    --card-bg: hsl(217, 19%, 24%);
    --accent: hsl(150, 100%, 66%);
    --light-cyan: hsl(193, 38%, 86%);
    --box-shadow: 0px 0px 15px 5px hsl(218, 23%, 16%);
    --transition: all 300ms ease-in-out;
  }

  